@use "@styles/variables" as *;

.header {
    color: $color-primary;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 18px;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: rgb(255 255 255 / 95%);
    backdrop-filter: blur(6px);
    border-bottom: 1px solid #E1DAC9;
    box-shadow: 0 4px 20px rgb(32 29 68 / 4%);

    &__logo {
        font-size: 16px;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 28px;
        font-size: 14px;

        a {
            text-decoration: none;
            color: $color-primary;

            &:hover {
                color: $color-focus;
            }
        }
    }
}