@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.App{
  background-color: #100e1d;
}
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-thumb {
  background-color: #4C3F91;
  outline: 1px solid #4C3F91;
  border-radius: 10px;
}
